body {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px;
}

/* For the section with the ID "contact" */


/* For centering the header section */
header {
    margin: 0 auto;
    text-align: center;
}

/* For the sections with the ID "education," "courses," etc. */

@media (min-width: 1024px)
{
    section {
        margin-left: 400px;
        margin-right: 400px;
    }
}

@media (max-width: 1023px)
{
    section {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* @media (min-width: 768px)
{
    section {
        margin-left: 50px;
        margin-right: 50px;
    }
} */

/* Add more CSS for other sections */

footer {
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: center;
    
}

.container img {
        border-radius: 40%;
}

.container div{
    margin-right: 20px;
    margin-left: 20px;
}





